@use '@/styles/index' as s;

.heading {
  display: flex;
  align-items: center;
  gap: s.gap(3);
}

.title {
  @include s.text_header_3;

  color: var(--text_default);
  text-wrap: balance;
}

.rules {
  display: flex;
  flex-direction: column;
  gap: s.gap(4);
}

.paragraph {
  @include s.text_body_1;

  color: var(--text_secondary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: s.gap(2.5);

  counter-reset: rule;
}

.item {
  @include s.text_body_1;

  position: relative;
  padding-left: s.gap(7);
  color: var(--text_default);

  counter-increment: rule;

  &::before {
    content: counter(rule) '.';
    position: absolute;
    top: 0;
    left: 0;

    min-width: s.gap(5);

    color: var(--primary);
    font-weight: s.$medium;
    text-align: right;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: s.gap(3);

  a,
  button {
    width: 100%;
  }
}
