@use '@/styles/index' as s;

.layout {
  display: grid;
  gap: s.gap(4);
  grid-template-columns: 1fr;
  align-items: start;

  @include s.media_up(lg) {
    grid-template-columns: minmax(0, 420px) minmax(0, 1fr);
    gap: s.gap(6);
  }
}
